<%- include('partials/head') %>



<section class="book" id="book">
  <div class="row">
    <div class="image">
      <img src="img/bidarfort.jpg" alt="">

    </div>

    <div class="column">
      <div class="content">
        <h2>rangeen Mahal</h2>
        <p> </p>

      </div>

        <form action="" method="post">
          <div class="inputBox">
            <h3>no. of guests</h3>
            <input type="number" placeholder="number of guests">
          </div>
          <div class="inputBox">
              <h3>arrivals</h3>
              <input type="date">
          </div>
          <div class="inputBox">
              <h3>leaving</h3>
              <input type="date">
          </div>
        </form>

    </div>

  </div>

</section>









<%- include('partials/foot') %>
