*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  transition: all .2s linear;
}
html{
  font-size: 60.5%;
  overflow-x:hidden;
  scroll-padding-top:6rem;
  scroll-behavior:smooth;
}
section{
  padding: 2rem 9%;

}
.heading{
  text-align: center;
  padding: 2.5rem 0;
}
.heading span{
  font-size: 3.5rem;
  background: #d8dfe8 ;
  color:#2874A6 ;
  border-radius:0.5rem;
  padding: 0.2rem .1rem;
}
.heading span .space{
  background:none;
}
.btn{
 display: inline-block;
 margin-top: 1rem;
background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
 color:#fff;
 padding: 0.8rem 3rem;

 cursor: pointer;
 font-size: 1.8rem;
}
.btn:hover{
  background: rgba(255, 167,255, 0.2);
  color: #1E90FF;
}
header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 10%;
}
header .logo{
  font-size: 2.5rem;
  font-weight: bold;
  color:#fff;
  text-transform:uppercase;
}
header .logo span{
  color: #89C35C;
}
header .navbar a{
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem;

}
header .navbar a:hover{
  color: #89C35C;
}
header .icon i{
  font-size: 2.4rem;
  margin:0.5rem;
}
header .icon i:hover{
  color: #89C35C;
}
header .search-bar-container{
  position:absolute;
  left:0;right: 0;top:100%;
  padding:1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255,255,255, 0.2);
  display: flex;
  z-index: 1001;
  clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header .search-bar-container.active{
  clip-path : polygon(0 0,100% 0,100% 100%,0 100%);
}
header .search-bar-container #search-bar{
  width:100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 6px;
}
header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 2.6rem;
  margin-left: 1.5rem;
}
header .search-bar-container label:hover{
  color: #89C35C;
}
/*.login-form-container{
  position: fixed;
  top: -120%; right: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background:rgba(0,0 , 0, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container.active{
  top: 0;
}
.login-form-container form{
  margin:2rem;
  padding:2rem 2rem;
  border-radius:0.4rem;
  background: #fff;
  width: 50rem;
}
.login-form-container form h3{
  font-size:2.5rem;
  text-transform:unset;
  color:#000;
  text-align:center;
  padding:1rem 0;

}
.login-form-container form .box{
  width: 100%;
  padding: 1.4rem;
  font-size: 1.7rem;
  color: #333;
  margin:0.7rem 0;
  border:.2rem solid rgba(0,0,0,.3);
  text-transform: none;
}
.login-form-container form .box:focus{

  border: 0.3rem solid #6495ED;
}
.login-form-container form .btn{
  display: block;
  width: 100%;

}
.login-form-container form p{
  padding: 0.5rem;
  font-size:1.4rem;
  color:#666;
}

.login-form-container form p a{
  color: #1E90FF;
}
.login-form-container form p a:hover{
  color: #333;
  text-decoration: underline;
}
.login-form-container #form-close{
  position: absolute;
  right: 2rem;top: 2rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
*/
#menu-bar{
color: #333;
border:0.1rem solid #fff;
border-radius:0.5rem;
font-size: 3rem;
padding:0.5rem 1rem;
cursor :pointer;
display: none;

}
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-flow:column;
  position: relative;
  z-index:0;

}
.home .content{
  text-align: center;
}

.home .content h3{
  font-size:4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
}
.home .content p{
  font-size: 2.5rem;
  color: #fff;
  padding:0.5rem 0;

}
.home .video-container video{
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.home .image-container img{
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  height: 100%;

  width: 100%;
  object-fit: cover;

}


.home .controls .vid-btn{
  position: relative;
  top:15rem;
  height: 0.7rem;
  width: 0.7rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0.5rem;

}

.home .controls .vid-btn .active{
  background:#5F9EA0;
}


.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .image{
  flex: 1 1 40rem;
}

.book .row .image img{
  width:100%;
}

.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.star{
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  content: '\2606';    /* star outline */
  cursor: pointer;
}
.star.rated::before{
  /* the style for a selected star */
  content: '\2605';  /* filled star */
}

.stars{
    counter-reset: rateme 0;
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
}



.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:#5F9EA0;
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}






/* ejs  content */


.about .details h2{
  font-size: 2.2rem;
  padding: 2rem;

}
.about .details p{
  font-size: 1.4rem;
  font-family: sans-serif;


}
.about .temp h2{
  font-size: 2.2rem;
  padding: 2rem;

}


.places .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2.5rem;
}

.places .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
}

.places .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.places .box-container .box .content{
  padding:2rem;
}

.places .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.places .box-container .box .content h3 i{
  color:var(--orange);
}

.places .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}


.places .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.places .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}



.places .box-container .box:hover{
  box-shadow: 0 2rem 3rem rgba(0,0,0,.1);
}




#map{
  height: 500px;
  width: 100%;
}




.roundBox .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.roundBox .row .column{
  flex: 1 1 40rem;
}

.roundBox .row .image img{
  width:100%;
}

.roundBox .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.roundBox .row form .inputBox{
  padding:.5rem 0;
}

.roundBox .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.roundBox.row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}








.payment form{
    width: 600px;
    margin: 100px auto  0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
    color: #fff;
}
.payment h1{
    text-align: center;
}
.payment .box{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    background-color: #30475e;
}
.payment .div1{
    display: inline-block;

}
.payment .box2{
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0 15px 0;
    background-color: #30475e;
}
.payment .btn{
    width: 49%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #30475e;
    font-size: 18px;
    color: #fff;










/* media queries  */

@media only screen and (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media only screen and(max-width: 991px){

  header{
    padding:2rem;
  }
  section{
    padding:2rem;
  }


}

@media only screen and (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a{
    display: block;
    border-radius: 0.5rem;
    padding: 1rem;
    margin:  1rem 0;
    background: #222;

  }

}
@media only screen and (max-width:450px){
  .heading span{
    font-size: 2.5rem;
  }

  html{
    font-size: 50%;
  }
}
